*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #bcccdb;
    height: 40%;
    width: 700px;
    position: absolute;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    padding: 30px 0;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
}

.container h1{
    color:#0c2c77;
    font-size: 40px;
}


#newtask{
    position: relative;
    padding: 30px 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 15px 30px rgb(188, 204, 219);
}

#newtask input{
    border-radius: 5px;
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newtask input:focus{
    outline: none;
    border-color: #4c7cec;
    white-space: pre-line;
}

#newtask button{
    position: relative;
    float: right;
    width: 70px;
    height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    background: #4c7cec;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

#tasks{
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 40px;
    border-radius: 5px;
}

.tasks{
    background-color: #fff;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 2px solid #d1d3d4;
}

.task span{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.task button{
    float: right;
    border: none;
    background: #4c7cec;
    height: 36px;
    width: 55px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}